In [117]:
# Imports 
import pandas as pd
import numpy as np
import os

import plotly
import plotly.plotly as py
from plotly.offline import init_notebook_mode
import plotly.graph_objs as go
plotly.offline.init_notebook_mode(connected=True)

plotly.tools.set_credentials_file(username='mrbalikci', api_key='UOYflXmBJelkNxcCHA0y')

%matplotlib inline

In [118]:
# read the data with all default parameters 
df = pd.read_csv('data_set.csv', index_col='asst_id', encoding='utf-8', low_memory=False)

In [119]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 16664
Data columns (total 18 columns):
product_type           99980 non-null object
mnfture_wk             100000 non-null int64
contract_st            100000 non-null int64
contract_end           100000 non-null int64
contact_wk             100000 non-null int64
contact_type           99986 non-null object
issue_type             85958 non-null object
topic_category         66916 non-null object
parts_sent             54566 non-null object
repair_type            100000 non-null object
repeat_ct              100000 non-null int64
parts_ct               100000 non-null int64
agent_tenure_indays    99986 non-null float64
contact_manager_flg    100000 non-null int64
diagnostics            100000 non-null object
repeat_parts_sent      13346 non-null object
region                 99997 non-null object
country                89998 non-null object
dtypes: float64(1), int64(7), object(10)
memory usage: 14.5+ MB

In [120]:
# VOICE and Voice can be combined as 'Voice'
df['contact_type']=df['contact_type'].str.replace('VOICE','Voice')

In [121]:
# change type to string
df['mnfture_wk']=df['mnfture_wk'].astype(str)
df['contract_st']=df['contract_st'].astype(str)
df['contract_end']=df['contract_end'].astype(str)
df['contact_wk']=df['contact_wk'].astype(str)

# taking care of mnfture
df['mnfture_year'] = df['mnfture_wk'].str[0:4]
df['mnfture_week'] = df['mnfture_wk'].str[4:6]
df["mnfture_datetime"] = pd.to_datetime(df.mnfture_week.astype(str)+
                          df.mnfture_year.astype(str).add('-0') ,format='%W%Y-%w')

# taking care of contact year
df['contact_year'] = df['contact_wk'].str[0:4]
df['contact_week'] = df['contact_wk'].str[4:6]
df["contact_week_datetime"] = pd.to_datetime(df.contact_week.astype(str)+
                          df.contact_year.astype(str).add('-0') ,format='%W%Y-%w')

# taking care of contract end year
df['contract_year'] = df['contract_end'].str[0:4]
df['contract_week'] = df['contract_end'].str[4:6]
df["contract_end_datetime"] = pd.to_datetime(df.contract_week.astype(str)+
                          df.contract_year.astype(str).add('-0') ,format='%W%Y-%w')

In [122]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 16664
Data columns (total 27 columns):
product_type             99980 non-null object
mnfture_wk               100000 non-null object
contract_st              100000 non-null object
contract_end             100000 non-null object
contact_wk               100000 non-null object
contact_type             99986 non-null object
issue_type               85958 non-null object
topic_category           66916 non-null object
parts_sent               54566 non-null object
repair_type              100000 non-null object
repeat_ct                100000 non-null int64
parts_ct                 100000 non-null int64
agent_tenure_indays      99986 non-null float64
contact_manager_flg      100000 non-null int64
diagnostics              100000 non-null object
repeat_parts_sent        13346 non-null object
region                   99997 non-null object
country                  89998 non-null object
mnfture_year             100000 non-null object
mnfture_week             100000 non-null object
mnfture_datetime         100000 non-null datetime64[ns]
contact_year             100000 non-null object
contact_week             100000 non-null object
contact_week_datetime    100000 non-null datetime64[ns]
contract_year            100000 non-null object
contract_week            100000 non-null object
contract_end_datetime    100000 non-null datetime64[ns]
dtypes: datetime64[ns](3), float64(1), int64(3), object(20)
memory usage: 21.4+ MB

In [123]:
pd.qcut(df.agent_tenure_indays, 3)

asst_id
0         (661.0, 1018.0]
1         (661.0, 1018.0]
2         (661.0, 1018.0]
3        (217.999, 661.0]
4         (661.0, 1018.0]
5         (661.0, 1018.0]
6        (1018.0, 8922.0]
7         (661.0, 1018.0]
8        (1018.0, 8922.0]
9         (661.0, 1018.0]
10       (217.999, 661.0]
11        (661.0, 1018.0]
12       (1018.0, 8922.0]
13       (1018.0, 8922.0]
14        (661.0, 1018.0]
15       (217.999, 661.0]
16       (217.999, 661.0]
17       (217.999, 661.0]
18        (661.0, 1018.0]
19       (1018.0, 8922.0]
20        (661.0, 1018.0]
21        (661.0, 1018.0]
22       (217.999, 661.0]
23       (217.999, 661.0]
24       (217.999, 661.0]
25        (661.0, 1018.0]
26       (1018.0, 8922.0]
27        (661.0, 1018.0]
28       (217.999, 661.0]
29       (217.999, 661.0]
               ...
16635    (217.999, 661.0]
16636    (217.999, 661.0]
16637     (661.0, 1018.0]
16638     (661.0, 1018.0]
16639    (217.999, 661.0]
16640     (661.0, 1018.0]
16641    (217.999, 661.0]
16642    (217.999, 661.0]
16643    (217.999, 661.0]
16644    (1018.0, 8922.0]
16645    (217.999, 661.0]
16646    (217.999, 661.0]
16647    (217.999, 661.0]
16648     (661.0, 1018.0]
16649    (217.999, 661.0]
16650     (661.0, 1018.0]
16651    (217.999, 661.0]
16652    (217.999, 661.0]
16653    (1018.0, 8922.0]
16654    (217.999, 661.0]
16655     (661.0, 1018.0]
16656     (661.0, 1018.0]
16657     (661.0, 1018.0]
16658    (217.999, 661.0]
16659    (217.999, 661.0]
16660    (1018.0, 8922.0]
16661     (661.0, 1018.0]
16662    (217.999, 661.0]
16663    (217.999, 661.0]
16664     (661.0, 1018.0]
Name: agent_tenure_indays, Length: 100000, dtype: category
Categories (3, interval[float64]): [(217.999, 661.0] < (661.0, 1018.0] < (1018.0, 8922.0]]

In [124]:
agent_tenure_indays_bins = pd.qcut(df.agent_tenure_indays, 3, labels=['entry_level', 'mid_level','senior_level'])

In [125]:
df['agent_tenure_indays_bins'] = agent_tenure_indays_bins

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 16664
Data columns (total 28 columns):
product_type                99980 non-null object
mnfture_wk                  100000 non-null object
contract_st                 100000 non-null object
contract_end                100000 non-null object
contact_wk                  100000 non-null object
contact_type                99986 non-null object
issue_type                  85958 non-null object
topic_category              66916 non-null object
parts_sent                  54566 non-null object
repair_type                 100000 non-null object
repeat_ct                   100000 non-null int64
parts_ct                    100000 non-null int64
agent_tenure_indays         99986 non-null float64
contact_manager_flg         100000 non-null int64
diagnostics                 100000 non-null object
repeat_parts_sent           13346 non-null object
region                      99997 non-null object
country                     89998 non-null object
mnfture_year                100000 non-null object
mnfture_week                100000 non-null object
mnfture_datetime            100000 non-null datetime64[ns]
contact_year                100000 non-null object
contact_week                100000 non-null object
contact_week_datetime       100000 non-null datetime64[ns]
contract_year               100000 non-null object
contract_week               100000 non-null object
contract_end_datetime       100000 non-null datetime64[ns]
agent_tenure_indays_bins    99986 non-null category
dtypes: category(1), datetime64[ns](3), float64(1), int64(3), object(20)
memory usage: 21.5+ MB

In [127]:
pd.crosstab(df.contact_manager_flg, df.agent_tenure_indays_bins)

agent_tenure_indays_bins  entry_level  mid_level  senior_level
contact_manager_flg
0                               42000      33536         23207
1                                 568        462           213

In [128]:
df.columns

Index(['product_type', 'mnfture_wk', 'contract_st', 'contract_end',
       'contact_wk', 'contact_type', 'issue_type', 'topic_category',
       'parts_sent', 'repair_type', 'repeat_ct', 'parts_ct',
       'agent_tenure_indays', 'contact_manager_flg', 'diagnostics',
       'repeat_parts_sent', 'region', 'country', 'mnfture_year',
       'mnfture_week', 'mnfture_datetime', 'contact_year', 'contact_week',
       'contact_week_datetime', 'contract_year', 'contract_week',
       'contract_end_datetime', 'agent_tenure_indays_bins'],
      dtype='object')

In [129]:
columns = ['mnfture_wk', 'contract_st', 'contract_end','contact_wk','agent_tenure_indays', 
           'region', 'country', 'mnfture_year',
           'mnfture_week', 'contact_year', 'contact_week',
           'contract_year', 'contract_week']

In [130]:

df.drop(columns, inplace=True, axis=1)

In [131]:
df.head()

,product_type,contact_type,issue_type,topic_category,parts_sent,repair_type,repeat_ct,parts_ct,contact_manager_flg,diagnostics,repeat_parts_sent,mnfture_datetime,contact_week_datetime,contract_end_datetime,agent_tenure_indays_bins
asst_id,,,,,,,,,,,,,,,
0,Laptops,Voice,NaN,NaN,"Hard Drive, Documentation(2)",Hard,0,3,0,Not_USED,NaN,2017-07-02,2018-10-07,2021-06-27,mid_level
1,Laptops,Voice,NaN,NaN,"Speaker, Chassis",Hard,0,2,0,Not_USED,NaN,2016-12-18,2018-10-07,2019-12-15,mid_level
2,Laptops,Voice,NaN,NaN,Cables,Hard,0,1,0,Not_USED,"Motherboard, Miscellaneous(2), Hard Drive, Cha...",2018-05-27,2018-10-07,2022-06-05,mid_level
3,Laptops,Voice,Hard Drive,Booting,Hard Drive,Hard,0,1,0,Effective_Usage,NaN,2016-02-28,2018-10-07,2019-03-03,entry_level
4,Laptops,Voice,NaN,NaN,Battery (Notebook),Hard,0,1,0,Not_USED,NaN,2017-08-13,2018-10-07,2020-08-16,mid_level

In [132]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 16664
Data columns (total 15 columns):
product_type                99980 non-null object
contact_type                99986 non-null object
issue_type                  85958 non-null object
topic_category              66916 non-null object
parts_sent                  54566 non-null object
repair_type                 100000 non-null object
repeat_ct                   100000 non-null int64
parts_ct                    100000 non-null int64
contact_manager_flg         100000 non-null int64
diagnostics                 100000 non-null object
repeat_parts_sent           13346 non-null object
mnfture_datetime            100000 non-null datetime64[ns]
contact_week_datetime       100000 non-null datetime64[ns]
contract_end_datetime       100000 non-null datetime64[ns]
agent_tenure_indays_bins    99986 non-null category
dtypes: category(1), datetime64[ns](3), int64(3), object(8)
memory usage: 11.5+ MB

In [133]:
df['agent_tenure_indays_bins'].unique()

[mid_level, entry_level, senior_level, NaN]
Categories (3, object): [entry_level < mid_level < senior_level]

In [134]:
df['agent_tenure_indays_bins']=df['agent_tenure_indays_bins'].str.replace('senior_level','1')
df['agent_tenure_indays_bins']=df['agent_tenure_indays_bins'].str.replace('mid_level','2')
df['agent_tenure_indays_bins']=df['agent_tenure_indays_bins'].str.replace('entry_level','3')

In [137]:
df['agent_tenure_indays_bins']=df['agent_tenure_indays_bins'].astype(float)

In [138]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 16664
Data columns (total 15 columns):
product_type                99980 non-null object
contact_type                99986 non-null object
issue_type                  85958 non-null object
topic_category              66916 non-null object
parts_sent                  54566 non-null object
repair_type                 100000 non-null object
repeat_ct                   100000 non-null int64
parts_ct                    100000 non-null int64
contact_manager_flg         100000 non-null int64
diagnostics                 100000 non-null object
repeat_parts_sent           13346 non-null object
mnfture_datetime            100000 non-null datetime64[ns]
contact_week_datetime       100000 non-null datetime64[ns]
contract_end_datetime       100000 non-null datetime64[ns]
agent_tenure_indays_bins    99986 non-null float64
dtypes: datetime64[ns](3), float64(1), int64(3), object(8)
memory usage: 12.2+ MB

In [139]:
# one-hot encoding 
df = pd.get_dummies(df, columns=['repeat_parts_sent', 'diagnostics','repair_type', 'parts_sent',
                                'topic_category','contact_type','issue_type', 'product_type',
                                ])

In [140]:
# reorder columns
columns = [column for column in df.columns if column != 'agent_tenure_indays_bins']
columns = ['agent_tenure_indays_bins'] + columns
df = df[columns]

In [142]:
df.head()

,agent_tenure_indays_bins,repeat_ct,parts_ct,contact_manager_flg,mnfture_datetime,contact_week_datetime,contract_end_datetime,"repeat_parts_sent_Adapter, AC","repeat_parts_sent_Adapter, AC(2)","repeat_parts_sent_Adapter, AC(4)",...,issue_type_Sync Application Tile,issue_type_System Board Components,issue_type_System Out of Box,issue_type_Systems Management,issue_type_Tape Drive or Library,issue_type_Try & Buy,issue_type_Wrong Solution / Product Sold,product_type_Desktops,product_type_Laptops,product_type_Other Electronics
asst_id,,,,,,,,,,,,,,,,,,,,,
0,2.0,0,3,0,2017-07-02,2018-10-07,2021-06-27,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,2.0,0,2,0,2016-12-18,2018-10-07,2019-12-15,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,2.0,0,1,0,2018-05-27,2018-10-07,2022-06-05,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,3.0,0,1,0,2016-02-28,2018-10-07,2019-03-03,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,2.0,0,1,0,2017-08-13,2018-10-07,2020-08-16,0,0,0,...,0,0,0,0,0,0,0,0,1,0

### Save Processed Dataset